
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/*  ==========================
    CSS RESET
    ==========================  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*  ==========================
    My CSS
    ==========================  */

:root {
  --clr-desaturated-red:hsl(0, 36%, 70%);
  --clr-soft-red:hsl(0, 93%, 68%);
  --clr-grayish-red:hsl(0, 6%, 24%);
  --clr-white-linear:linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --clr-pink-linear:linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  --fw-bold:600;
  --fw-regular:400;
  --fw-thin:300;
}

.logo img {
  align-self: flex-start;
  width: clamp(6.25rem,11vw,9.875);
  margin: 2rem;
}

.logo-wrapper {
  align-self: flex-start;
}

body {
  font-family: "Josefin Sans";
  background: var(--clr-white-linear);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.newsletter, .newsletter__content,.newsletter__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.newsletter__content {
  margin: 4rem 0;
  gap:1.5rem;
  width: clamp(19.438rem,33vw,27.813rem);
}

.newsletter__title {
  line-height:2.625rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.677rem;
}

.newsletter__title--thin{
  color: var(--clr-desaturated-red);
  font-weight: var(--fw-thin);
}

.newsletter__title--thick{
  color: var(--clr-grayish-red);
  font-weight: var(--fw-regular);
}

.newsletter__text {
  text-align: center;
  color: var(--clr-desaturated-red);
  line-height: 1.375rem;
  font-size: 0.875rem;
}

.newsletter__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--clr-desaturated-red);
  border-radius: 100vw;
  width: 19.438rem;
  height: 3rem;
}

.input_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.newsletter__email {
  border: none;
  background:transparent;
  margin: 0.625rem 0 0.625rem 0.625rem;
}

.error-icon {
  display: none;
}

.newsletter__email::placeholder {
  color: var(--clr-desaturated-red);
  opacity: 0.4;
  background:transparent;
}

.newsletter__email:focus {
  outline: none;
}

.newsletter__btn {
  border-radius: 100vw;
  border: none;
  background: var(--clr-pink-linear);
  width: 4rem;
  height: 3rem;
}

.newsletter__btn img {
  display: block;
  margin: 0 auto;
}

.error-message {
  color: var(--clr-soft-red);
  margin: 0;
  padding-left: 1rem;
}

button:active {
  transform: scale(1.15);
}

button:hover {
  background: var(--clr-desaturated-red);
}

@media screen and (min-width: 1080px) { 
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;

  }
  .newsletter {
    display: grid;
    place-items: start;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    ". logo logo hero hero hero hero hero"
    ". desc desc hero hero hero hero hero"
    ". desc desc hero hero hero hero hero"
    ;
    width: 100%;
    column-gap: 10rem;
    height: 100vh;
  }

  .logo-wrapper {
    grid-area: logo;
  }

  .logo img {
    margin-left: 0;
    padding-left: 0;
    margin-top: 6rem;
  }

  .newsletter__image-wrapper {
    grid-area: hero;
    place-self: end;
  }

  .newsletter__content {
    grid-area: desc;
    justify-content: start;
    align-items: start;

  }

  .newsletter__title {
    align-items: start;
  }

  .newsletter__text {
    text-align: start;
  }

  
}